@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Staatliches&display=swap");
body * {
  font-family: "Righteous", cursive;
}
html * {
  font-family: "Righteous", cursive;
}

.nav-con {
  display: flex;
  justify-content: end;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 100px;
  /* opacity: 90%; */
  position: relative;
  /* z-index: 5; */
  /* width: 100%;   */
}

.header-title {
  color: #c1440d;
  font-size: 25px;
  font-weight: bold;
  font-family: "Righteous", cursive;
  margin-left: 50px;
}

.nav-btn {
  margin-right: 50px;
}

.form-span {
  font-size: 40px;
  margin-bottom: 15px;
  font-family: "Righteous", cursive;
}

.form-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  line-height: 25px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 5px lightslategrey;
  z-index: 3;
  margin-left: 32vw;
  margin-top: 88vh;
  background-color: darkgray;
  /* opacity: 90%; */
  position: fixed;
}

.login-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  width: 30%;
  padding: 50px;
  border-radius: 8px;
  /* opacity: 90%; */
  z-index: 2;
  margin-left: 32vw;
  margin-top: 60vh;
  position: fixed;
  height: 30%;
}

.input {
  border-style: solid;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #c1440d;
  background-color: lightgray;
  font-weight: 700;
  font-size: 20px;
  outline: none;
  font-family: "Font Awesome 5 Free";
  border-color: #c1440d;
}

.form-btn {
  background-color: #c1440d;
  border-style: none;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  width: 100px;
  /* border: 3px solid skyblue; */
  cursor: pointer;
  font-size: 20px;
  color: skyblue;
}

.form-btn:hover {
  color: black;
}

.signup-btn:hover {
  background-color: black;
  color: white;
  border: white 3px;
  border-style: solid;
}

.label {
  font-size: 20px;
  font-family: "Righteous", cursive;
}

.error {
  color: #c1440d;
  font-weight: bold;
  font-size: 15px;
  /* position: absolute; */
  top: 20px;
  left: 41%;
}

.login-btn {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: 3px white;
  color: white;
  background: none;
  border-style: solid;
  font-size: 20px;
  cursor: pointer;
}

.log-out {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: 3px white;
  color: white;
  background: none;
  border-style: solid;
  font-size: 20px;
  cursor: pointer;
  margin-right: 50px;
}
.log-out:hover {
  cursor: pointer;
  background-color: #c1440d;
  color: white;
}

.signup-btn {
  height: 50px;
  width: 100px;
  margin-left: 25px;
  margin-right: 60px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  border-style: none;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.video-wrapper {
  /* Telling our absolute positioned video to 
    be relative to this element */
  position: relative;
  width: 100vw;
  height: 100vh;

  /* Will not allow the video to overflow the 
    container */
  overflow: hidden;

  /* Centering the container's content vertically 
    and horizontally */
  /* text-align: center; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

.temp-con {
  margin-left: 30px;
  position: relative;
}

#zip-code {
  font-size: 30px;
  width: 120px;
  border-style: none;
  opacity: 30%;
  height: 48px;
  border-radius: 5px;
  outline: none;
}

.zip-label {
  color: azure;
  font-size: 80px;
  font-family: "Righteous", cursive;
  margin-bottom: 20px;
  margin-top: 20px;
}

#zip-btn {
  /* opacity: 10%; */
  font-size: 35px;
  background-color: transparent;
  border: solid 2px;
  border-radius: 5px;
  color: lightblue;
  margin-left: 5px;
  transition: color 1s ease-in-out;
}

#zip-btn:hover {
  color: #c1440d;
  cursor: pointer;
}

.close {
  background-color: black;
  color: white;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 360px;
  border-style: none;
}

.close:hover {
  background-color: #c1440d;
  cursor: pointer;
}

.weather-con {
  display: flex;
  margin-left: 20px;
  background-color: white;
  height: 50px;
  font-family: "Righteous", cursive;
}

.temp-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  opacity: 80%;
  border-radius: 15px;
  padding: 20px;
  margin-right: 10px;
  z-index: -1;
  /* margin-left: 30px; */
}

.temp-card:hover {
  cursor: pointer;
  /* background-color: #C1440D; */
  background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 1px),
      hsl(12, 88%, 30%) 50%,
      rgba(0, 0, 0, 0) calc(50% + 1px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to top right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      rgb(148, 41, 14) 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    );
}

.location {
  color: lightskyblue;
  font-size: 25px;
  font-family: "Righteous", cursive;
}

.city-temp {
  font-size: 80px;
  font-family: "Righteous", cursive;
}

.degree {
  font-size: 30px;
}

.card-con {
  display: flex;
}

.zip-con {
  margin-bottom: 20px;
  display: flex;
}

.explore-con {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: end;
}

.mars-background {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.title {
  font-size: 90px;
  margin-bottom: 30px;
  font-family: "Staatliches";
}

.about-con {
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: white;
  margin-right: 150px;
  margin-top: 90px;
  align-items: center;
}

.mars {
  /* width: 100%; */
}

.list {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

.mars-list {
  border-bottom: 1px solid white;
  line-height: 40px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.right {
  text-align: right;
}

.booking-btn {
  font-size: 30px;
  height: 60px;
  border: 3px white solid;
  background-color: black;
  color: white;
}

.booking-btn:hover {
  cursor: pointer;
  transition: ease-in-out 0.4s;
  color: #c1440d;
}

.back {
  background-color: #c1440d;
  height: 100vh;
}

.crumb {
  color: #c1440d;
  margin-right: 15px;
  font-size: 20px;
  position: absolute;
  right: 20%;
}

.crumb:hover {
  color: white;
}

.title {
  color: white;
}

.book-background {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 94%;
}

.booking-main-con {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  text-align: center;
  font-family: "Righteous", cursive;
  display: flex;
  align-items: center;
}

.title-con {
  color: whitesmoke;
  margin-top: 30px;
  margin-bottom: 40px;
}
.booking-h1 {
  font-size: 90px;
}
.booking-h2 {
  color: #c1440d;
  font-size: 30px;
}

.book-form-con {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-input {
  height: auto;
  margin-left: 10px;
  font-size: 25px;
  background-color: #c1440d;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.book-input:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: #c1440d;
  transition: 1s;
}

#pay-load {
  width: 150px;
}

/* .cal-con {
        display: flex;
        justify-content: center;
    }

    .cal-wrapper {
        height: 100vh;
    } */

.fas {
  font-size: 30px;
  width: 40px;
}

#booking-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  gap: 10px;
  /* margin-bottom: 30px; */
}

.cal-btn {
  font-size: 30px;
  background-color: #c1440d;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
}

.cal-btn:hover {
  cursor: pointer;
  color: #c1440d;
  background-color: white;
  transition: 1s;
}

.cal-date {
  font-size: 20px;
  background-color: #c1440d;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  outline: none;
}

.cal-date:hover {
  cursor: pointer;
}

.cal-slct {
  outline: none;
  border-style: none;
}

#payload {
  width: 100px;
  background-color: darkgray;
  border: 1px solid #c1440d;
  border-radius: 5px;
  border-style: none;
  height: 45px;
  font-size: 30px;
  color: #c1440d;
  text-align: center;
  outline: none;
}

#payload::placeholder {
  font-size: 18px;
  color: #c1440d;
  text-align: center;
}

.qty {
  border: none;
  background: #c1440d;
  color: white;
  cursor: pointer;
  font-size: 30px;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  appearance: none;
  text-align: center;
  width: 10px;
  display: flex;
  align-items: center;
}

/* .qty-select {
        position: relative;
        line-height: 3;
        background-color: #C1440D;  
        border-radius: 5px;
    } */

/* .qty-select select {
        display: none; 
    } */

.fas {
  color: #c1440d;
  font-size: 80px;
}

.fas:hover {
  color: white;
  transition: 1.5s;
}

.book-submit {
  background: none;
  border: none;
}

.book-submit:hover {
  cursor: pointer;
}

#loggedName {
  color: white;
  font-size: 30px;
  position: absolute;
  right: 11%;
}

/* #error-con {
        background-color: black;
        text-align: left;
        padding: 20px;
        border-radius: 5px;
        position: absolute;
        left: 42%;
        line-height: 25px;
        top: 35%;
    } */

.book-err {
  color: whitesmoke;
  font-size: 18px;
  opacity: 300%;
  border-radius: 5px;
  border-bottom: 1px solid black;
  color: #c1440d;
  /* background-color: black; */
  /* padding-top: 5px; */
  /* line-height: 25px; */
  margin-bottom: 5px;
}

#userBook-con {
  background-color: yellow;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-size: 30px;
  margin-left: 50px;
}

.book-title {
  font-size: 60px;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}

#login-required {
  color: white;
  font-size: 20px;
}

#log-success {
  color: #c1440d;
  font-size: 50px;
  position: absolute;
  top: 15px;
}

.dest-title {
  margin-right: 15px;
}

#confirm-con {
  background-color: #c1440d;
  height: 57vh;
  width: 58vw;
  border-radius: 10px;
  line-height: 30px;
  font-size: 20px;
  /* display: flex; */
  flex-direction: column;
  z-index: 98;
  position: absolute;
  top: 23%;
}

.bk-confirm-title {
  font-size: 40px;
  color: black;
  margin-top: 20px;
  margin-bottom: 15px;
}

.confirm-ticket {
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 25px;
}

#confirm-book-btn {
  position: absolute;
  right: 3%;
  bottom: 5%;
  font-size: 30px;
  border-radius: 5px;
  border-style: none;
  padding: 5px;
  width: 100px;
  background-color: darkgray;
  color: #c1440d;
  border: 2px solid black;
}

#update-book-btn:hover {
  cursor: pointer;
}

#confirm-book-btn:hover {
  cursor: pointer;
  background-color: #c1440d;
  color: darkgray;
  border: 2px solid black;
}

#update-book {
  font-size: 30px;
  border-radius: 5px;
  border-style: none;
  padding: 5px;
  width: 120px;
}

#user-info {
  display: flex;
  margin-bottom: 40px;
}

.book-info {
  display: flex;
  border-bottom: 1px solid white;
  margin-left: 20px;
  margin-right: 20px;
}

.update {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  outline: black;
}

.edit-btns {
  position: absolute;
  bottom: 20%;
  left: 2%;
}

#edit-book-btn {
  background-color: darkgray;
  color: black;
  border: 2px solid black;
}

#edit-book-btn:hover {
  cursor: pointer;
  background-color: #c1440d;
  color: darkgray;
  border: 2px solid black;
}

#done-book-btn {
  cursor: pointer;
  background-color: darkgray;
  color: black;
  border: 2px solid black;
}

#done-book-btn:hover {
  cursor: pointer;
  background-color: #c1440d;
  color: darkgray;
  border: 2px solid black;
}

#trips-btn {
  font-size: 30px;
  height: 60px;
  border: 3px white solid;
  background-color: black;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

#trips-btn:hover {
  cursor: pointer;
  transition: ease-in-out 0.4s;
  color: #c1440d;
}

/* #trips-btn {
        position: relative;
        width: 200px;
        height: 60px;
        background: linear-gradient(0deg, #000, #272727);
        color: white;
        font-size: 20px;
        border-style: none;
      }
      
      #trips-btn:before, #trips-btn:after {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        background: linear-gradient(60deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
          #0000ff, #00ff00,#ffff00, #ff0000);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 10s linear infinite;
      } */

/* @keyframes steam {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 300% 0;
        }
        100% {
          background-position: 0 0;
        }
      }
      
      #trips-btn:after {
        filter: blur(50px);
      } */

#trips-btn:hover {
  cursor: pointer;
  color: #c1440d;
}

#delete-bk-btn:hover {
  cursor: pointer;
  background-color: #c1440d;
  color: darkgray;
  border: 2px solid black;
}

#delete-bk-btn {
  background-color: darkgray;
  color: black;
  border: 2px solid black;
  margin-left: 10px;
}

#book-success {
  font-size: 60px;
}

#success-con {
  background-color: #c1440d;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 10px;
  z-index: 96;
}

.trip-title {
  font-size: 60px;
  align-self: center;
  text-align: center;
  margin-bottom: 20px;
}

#trip-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trip-head {
  font-size: 35px;
  border-bottom: 1px solid white;
}

.trip-card {
  background-color: #c1440d;
  padding: 40px;
  border-radius: 10px;
  margin: 10px;
  height: 280px;
  font-family: "Righteous", cursive;
  line-height: 45px;
  display: flex;
  box-shadow: black 5px 5px;
}

#delete-trip {
  font-size: 20px;
  height: 40px;
  border: 2px white solid;
  position: absolute;
  /* bottom: -300px; */
  color: white;
  background-color: black;
  margin-top: 15px;
}

#delete-trip:hover {
  cursor: pointer;
  background-color: #c1440d;
  color: black;
}

#close-trip {
  background-color: black;
  color: white;
  bottom: 2%;
  border-style: none;
}

#close-trip:hover {
  cursor: pointer;
  color: black;
  background-color: #c1440d;
}

.hide {
  display: none;
}

#trip-deleted {
  color: #c1440d;
  font-size: 30px;
}

.price-sum {
  margin-top: 20px;
}

.confirm-con {
  /* background-color: #C1440D; */
}

.footer {
  background-color: black;
  height: 30vh;
}
